In [20]:
import pandas as pd
import numpy as np
titanic = pd.read_csv('train.csv')
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [21]:
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [22]:
titanic['Age'].mean()

29.69911764705882

In [23]:
titanic['Age'].fillna("30",inplace=True)

In [24]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,30,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,30,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,30,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,30,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,30,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,30,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,30,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,30,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,30,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,30,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.7500,NaN,Q

In [25]:
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [26]:
titanic.corr()

             PassengerId  Survived    Pclass     SibSp     Parch      Fare
PassengerId     1.000000 -0.005007 -0.035144 -0.057527 -0.001652  0.012658
Survived       -0.005007  1.000000 -0.338481 -0.035322  0.081629  0.257307
Pclass         -0.035144 -0.338481  1.000000  0.083081  0.018443 -0.549500
SibSp          -0.057527 -0.035322  0.083081  1.000000  0.414838  0.159651
Parch          -0.001652  0.081629  0.018443  0.414838  1.000000  0.216225
Fare            0.012658  0.257307 -0.549500  0.159651  0.216225  1.000000

In [33]:
titanic.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age             object
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [36]:
titanic["Age"]=titanic["Age"].astype(int)

In [37]:
titanic.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age              int32
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [38]:
titanic["Survived"]=titanic["Survived"].astype(object)

In [39]:
titanic["Pclass"]=titanic["Pclass"].astype(object)

In [40]:
titanic.dtypes

PassengerId      int64
Survived        object
Pclass          object
Name            object
Sex             object
Age              int32
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [42]:
titanic["Fare"]=titanic["Fare"].astype(float)

In [43]:
titanic.dtypes

PassengerId      int64
Survived        object
Pclass          object
Name            object
Sex             object
Age              int32
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [45]:
import scipy.stats 
crosstab = pd.crosstab(titanic['Cabin'],titanic['Embarked'])
crosstab
scipy.stats.chi2_contingency(crosstab)

(364.0470733625434,
 0.002031277646831002,
 290,
 array([[0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.68316832, 0.03960396, 1.27722772],
        [0.34158416, 0.01980198, 0.63861386],
        [0.68316832, 0.03960396, 1.27722772],
        [0.68316832, 0.03960396, 1.27722772],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.68316832, 0.03960396, 1.27722772],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.68316832, 0.03960396, 1.27722772],
        [0.68316832, 0.03960396, 1.27722772],
        [0.34158416, 0.01980198, 0.63861386],
        [0.68316832, 0.03960396, 1.27722772],
        [0.68316832, 0.03960396, 1.27722772],
        [0.68316832, 0.03960396, 1.27722772],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.68316832, 0.03960396, 1.27722772],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [1.36633663, 0.07920792, 2.55445545],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.68316832, 0.03960396, 1.27722772],
        [0.68316832, 0.03960396, 1.27722772],
        [0.68316832, 0.03960396, 1.27722772],
        [0.68316832, 0.03960396, 1.27722772],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.68316832, 0.03960396, 1.27722772],
        [1.02475248, 0.05940594, 1.91584158],
        [1.36633663, 0.07920792, 2.55445545],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.68316832, 0.03960396, 1.27722772],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.68316832, 0.03960396, 1.27722772],
        [0.68316832, 0.03960396, 1.27722772],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.68316832, 0.03960396, 1.27722772],
        [0.34158416, 0.01980198, 0.63861386],
        [0.68316832, 0.03960396, 1.27722772],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.68316832, 0.03960396, 1.27722772],
        [0.68316832, 0.03960396, 1.27722772],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [1.02475248, 0.05940594, 1.91584158],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.68316832, 0.03960396, 1.27722772],
        [0.34158416, 0.01980198, 0.63861386],
        [0.68316832, 0.03960396, 1.27722772],
        [0.34158416, 0.01980198, 0.63861386],
        [0.68316832, 0.03960396, 1.27722772],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.68316832, 0.03960396, 1.27722772],
        [0.68316832, 0.03960396, 1.27722772],
        [0.68316832, 0.03960396, 1.27722772],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [1.02475248, 0.05940594, 1.91584158],
        [0.34158416, 0.01980198, 0.63861386],
        [0.68316832, 0.03960396, 1.27722772],
        [0.34158416, 0.01980198, 0.63861386],
        [0.68316832, 0.03960396, 1.27722772],
        [0.68316832, 0.03960396, 1.27722772],
        [0.34158416, 0.01980198, 0.63861386],
        [0.68316832, 0.03960396, 1.27722772],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.68316832, 0.03960396, 1.27722772],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.68316832, 0.03960396, 1.27722772],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.68316832, 0.03960396, 1.27722772],
        [0.34158416, 0.01980198, 0.63861386],
        [0.34158416, 0.01980198, 0.63861386],
        [0.68316832, 0.03960396, 1.27722772],
        [1.02475248, 0.05940594, 1.91584158],
        [1.02475248, 0.05940594, 1.91584158],
        [0.34158416, 0.01980198, 0.63861386],
        [0.68316832, 0.03960396, 1.27722772],
        [1.36633663, 0.07920792, 2.55445545],
        [0.34158416, 0.01980198, 0.63861386]]))

In [46]:
titanic['Cabin'].mode()

0        B96 B98
1    C23 C25 C27
2             G6
dtype: object

In [51]:
titanic.drop(["Cabin"],axis=1,inplace=True)

In [52]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,S
5,6,0,3,"Moran, Mr. James",male,30,0,0,330877,8.4583,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7000,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.5500,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,8.0500,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.2750,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55,0,0,248706,16.0000,S
16,17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,29.1250,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,30,0,0,244373,13.0000,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31,1,0,345763,18.0000,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,30,0,0,2649,7.2250,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35,0,0,239865,26.0000,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34,0,0,248698,13.0000,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15,0,0,330923,8.0292,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28,0,0,113788,35.5000,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8,3,1,349909,21.0750,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38,1,5,347077,31.3875,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,30,0,0,2631,7.2250,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19,3,2,19950,263.0000,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,30,0,0,330959,7.8792,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,30,0,0,349216,7.8958,S
...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21,1,0,28134,11.5000,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48,0,0,17466,25.9292,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,30,8,2,CA. 2343,69.5500,S
864,865,0,2,"Gill, Mr. John William",male,24,0,0,233866,13.0000,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42,0,0,236852,13.0000,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27,1,0,SC/PARIS 2149,13.8583,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31,0,0,PC 17590,50.4958,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,30,0,0,345777,9.5000,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4,1,1,347742,11.1333,S
870,871,0,3,"Balkic, Mr. Cerin",male,26,0,0,349248,7.8958,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47,1,1,11751,52.5542,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33,0,0,695,5.0000,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47,0,0,345765,9.0000,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28,1,0,P/PP 3381,24.0000,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15,0,0,2667,7.2250,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20,0,0,7534,9.8458,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19,0,0,349212,7.8958,S
878,879,0,3,"Laleff, Mr. Kristo",male,30,0,0,349217,7.8958,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56,0,1,11767,83.1583,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25,0,1,230433,26.0000,S
881,882,0,3,"Markun, Mr. Johann",male,33,0,0,349257,7.8958,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22,0,0,7552,10.5167,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28,0,0,C.A./SOTON 34068,10.5000,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25,0,0,SOTON/OQ 392076,7.0500,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39,0,5,382652,29.1250,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13.0000,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30.0000,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,30,1,2,W./C. 6607,23.4500,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.7500,Q

In [53]:
titanic['Embarked'].mode()

0    S
dtype: object

In [54]:
titanic['Embarked'].fillna("S",inplace=True)

In [55]:
titanic.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [58]:
crosstab = pd.crosstab(titanic['Name'],titanic['Embarked'])
crosstab
scipy.stats.chi2_contingency(crosstab)

(1782.0, 0.482181129888133, 1780, array([[0.18855219, 0.08641975, 0.72502806],
        [0.18855219, 0.08641975, 0.72502806],
        [0.18855219, 0.08641975, 0.72502806],
        ...,
        [0.18855219, 0.08641975, 0.72502806],
        [0.18855219, 0.08641975, 0.72502806],
        [0.18855219, 0.08641975, 0.72502806]]))

In [59]:
from sklearn.model_selection import train_test_split #importing train and test for model
y = titanic['Embarked']
titanic.drop(columns='Embarked',inplace=True)

X_train,X_test,y_train,y_test = train_test_split( titanic,y,test_size=0.2,random_state=24)

In [60]:
X_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17,4,2,3101281,7.9250
768,769,0,3,"Moran, Mr. Daniel J",male,30,1,0,371110,24.1500
722,723,0,2,"Gillespie, Mr. William Henry",male,34,0,0,12233,13.0000
94,95,0,3,"Coxon, Mr. Daniel",male,59,0,0,364500,7.2500
640,641,0,3,"Jensen, Mr. Hans Peder",male,20,0,0,350050,7.8542
453,454,1,1,"Goldenberg, Mr. Samuel L",male,49,1,0,17453,89.1042
314,315,0,2,"Hart, Mr. Benjamin",male,43,1,1,F.C.C. 13529,26.2500
555,556,0,1,"Wright, Mr. George",male,62,0,0,113807,26.5500
42,43,0,3,"Kraeff, Mr. Theodor",male,30,0,0,349253,7.8958
402,403,0,3,"Jussila, Miss. Mari Aina",female,21,1,0,4137,9.8250
270,271,0,1,"Cairns, Mr. Alexander",male,30,0,0,113798,31.0000
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25,0,0,SOTON/OQ 392076,7.0500
249,250,0,2,"Carter, Rev. Ernest Courtenay",male,54,1,0,244252,26.0000
16,17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,29.1250
583,584,0,1,"Ross, Mr. John Hugo",male,36,0,0,13049,40.1250
830,831,1,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15,1,0,2659,14.4542
292,293,0,2,"Levy, Mr. Rene Jacques",male,36,0,0,SC/Paris 2163,12.8750
490,491,0,3,"Hagland, Mr. Konrad Mathias Reiersen",male,30,1,0,65304,19.9667
663,664,0,3,"Coleff, Mr. Peju",male,36,0,0,349210,7.4958
187,188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45,0,0,111428,26.5500
647,648,1,1,"Simonius-Blumer, Col. Oberst Alfons",male,56,0,0,13213,35.5000
382,383,0,3,"Tikkanen, Mr. Juho",male,32,0,0,STON/O 2. 3101293,7.9250
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37,1,0,113803,53.1000
413,414,0,2,"Cunningham, Mr. Alfred Fleming",male,30,0,0,239853,0.0000
784,785,0,3,"Ali, Mr. William",male,25,0,0,SOTON/O.Q. 3101312,7.0500
268,269,1,1,"Graham, Mrs. William Thompson (Edith Junkins)",female,58,0,1,PC 17582,153.4625
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28,1,0,P/PP 3381,24.0000
431,432,1,3,"Thorneycroft, Mrs. Percival (Florence Kate White)",female,30,1,0,376564,16.1000
744,745,1,3,"Stranden, Mr. Juho",male,31,0,0,STON/O 2. 3101288,7.9250
644,645,1,3,"Baclini, Miss. Eugenie",female,0,2,1,2666,19.2583
...,...,...,...,...,...,...,...,...,...,...
326,327,0,3,"Nysveen, Mr. Johan Hansen",male,61,0,0,345364,6.2375
55,56,1,1,"Woolner, Mr. Hugh",male,30,0,0,19947,35.5000
60,61,0,3,"Sirayanian, Mr. Orsen",male,22,0,0,2669,7.2292
641,642,1,1,"Sagesser, Mlle. Emma",female,24,0,0,PC 17477,69.3000
289,290,1,3,"Connolly, Miss. Kate",female,22,0,0,370373,7.7500
524,525,0,3,"Kassem, Mr. Fared",male,30,0,0,2700,7.2292
254,255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41,0,2,370129,20.2125
384,385,0,3,"Plotcharsky, Mr. Vasil",male,30,0,0,349227,7.8958
540,541,1,1,"Crosby, Miss. Harriet R",female,36,0,2,WE/P 5735,71.0000
735,736,0,3,"Williams, Mr. Leslie",male,28,0,0,54636,16.1000
675,676,0,3,"Edvardsson, Mr. Gustaf Hjalmar",male,18,0,0,349912,7.7750
409,410,0,3,"Lefebre, Miss. Ida",female,30,3,1,4133,25.4667
391,392,1,3,"Jansson, Mr. Carl Olof",male,21,0,0,350034,7.7958
786,787,1,3,"Sjoblom, Miss. Anna Sofia",female,18,0,0,3101265,7.4958
329,330,1,1,"Hippach, Miss. Jean Gertrude",female,16,0,1,111361,57.9792
231,232,0,3,"Larsson, Mr. Bengt Edvin",male,29,0,0,347067,7.7750
483,484,1,3,"Turkula, Mrs. (Hedwig)",female,63,0,0,4134,9.5875
395,396,0,3,"Johansson, Mr. Erik",male,22,0,0,350052,7.7958
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4,4,2,347082,31.2750
227,228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20,0,0,A/5 21173,7.2500
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500
207,208,1,3,"Albimona, Mr. Nassef Cassem",male,26,0,0,2699,18.7875
123,124,1,2,"Webber, Miss. Susan",female,32,0,0,27267,13.0000
356,357,1,1,"Bowerman, Miss. Elsie Edith",female,22,0,1,113505,55.0000
129,130,0,3,"Ekstrom, Mr. Johan",male,45,0,0,347061,6.9750
145,146,0,2,"Nicholls, Mr. Joseph Charles",male,19,1,1,C.A. 33112,36.7500
401,402,0,3,"Adams, Mr. John",male,26,0,0,341826,8.0500
343,344,0,2,"Sedgwick, Mr. Charles Frederick Waddington",male,25,0,0,244361,13.0000
192,193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19,1,0,350046,7.8542
418,419,0,2,"Matthews, Mr. William John",male,30,0,0,28228,13.0000

In [63]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

for col in X_train.columns.values:

       if X_train[col].dtypes=='object':
            data=X_train[col].append(X_train[col])
            le.fit(data.values)
            X_train[col]=le.transform(X_train[col])
X_train

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare
68,69,1,2,23,0,17,4,2,213,7.9250
768,769,0,2,450,1,30,1,0,397,24.1500
722,723,0,1,238,1,34,0,0,55,13.0000
94,95,0,2,155,1,59,0,0,361,7.2500
640,641,0,2,328,1,20,0,0,346,7.8542
453,454,1,0,242,1,49,1,0,73,89.1042
314,315,0,1,283,1,43,1,1,480,26.2500
555,556,0,0,699,1,62,0,0,44,26.5500
42,43,0,2,365,1,30,0,0,331,7.8958
402,403,0,2,345,0,21,1,0,413,9.8250
270,271,0,0,103,1,30,0,0,39,31.0000
884,885,0,2,635,1,25,0,0,544,7.0500
249,250,0,1,122,1,54,1,0,123,26.0000
16,17,0,2,552,1,2,4,1,405,29.1250
583,584,0,0,566,1,36,0,0,58,40.1250
830,831,1,2,700,0,15,1,0,162,14.4542
292,293,0,1,391,1,36,0,0,533,12.8750
490,491,0,2,263,1,30,1,0,417,19.9667
663,664,0,2,140,1,36,0,0,305,7.4958
187,188,1,0,561,1,45,0,0,9,26.5500
647,648,1,0,598,1,56,0,0,59,35.5000
382,383,0,2,649,1,32,0,0,555,7.9250
137,138,0,0,226,1,37,1,0,41,53.1000
413,414,0,1,162,1,30,0,0,116,0.0000
784,785,0,2,11,1,25,0,0,539,7.0500
268,269,1,0,252,0,58,0,1,494,153.4625
874,875,1,1,3,0,28,1,0,482,24.0000
431,432,1,2,648,0,30,1,0,402,16.1000
744,745,1,2,631,1,31,0,0,553,7.9250
644,645,1,2,44,0,0,2,1,168,19.2583
...,...,...,...,...,...,...,...,...,...,...
326,327,0,2,485,1,61,0,0,254,6.2375
55,56,1,0,698,1,30,0,0,80,35.5000
60,61,0,2,600,1,22,0,0,170,7.2292
641,642,1,0,582,0,24,0,0,487,69.3000
289,290,1,2,148,0,22,0,0,395,7.7500
524,525,0,2,348,1,30,0,0,188,7.2292
254,255,0,2,565,0,41,0,2,389,20.2125
384,385,0,2,536,1,30,0,0,315,7.8958
540,541,1,0,159,0,36,0,2,566,71.0000
735,736,0,2,696,1,28,0,0,414,16.1000
675,676,0,2,192,1,18,0,0,336,7.7750
409,410,0,2,382,0,30,3,1,411,25.4667
391,392,1,2,325,1,21,0,0,339,7.7958
786,787,1,2,603,0,18,0,0,209,7.4958
329,330,1,0,301,0,16,0,1,5,57.9792
231,232,0,2,377,1,29,0,0,273,7.7750
483,484,1,2,660,0,63,0,0,412,9.5875
395,396,0,2,334,1,22,0,0,347,7.7958
850,851,0,2,20,1,4,4,2,283,31.2750
227,228,0,2,404,1,20,0,0,439,7.2500
4,5,0,2,13,1,35,0,0,400,8.0500
207,208,1,2,8,1,26,0,0,187,18.7875
123,124,1,1,679,0,32,0,0,189,13.0000
356,357,1,0,87,0,22,0,1,23,55.0000
129,130,0,2,194,1,45,0,0,270,6.9750
145,146,0,1,474,1,19,1,1,467,36.7500
401,402,0,2,5,1,26,0,0,247,8.0500
343,344,0,1,590,1,25,0,0,127,13.0000
192,193,1,2,18,0,19,1,0,343,7.8542
418,419,0,1,420,1,30,0,0,194,13.0000

In [67]:
#label encoding the categorical columns present in our test data
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

for col in X_test.columns.values:

       if X_test[col].dtypes=='object':
            data=X_test[col].append(X_test[col])
            le.fit(data.values)
            X_test[col]=le.transform(X_test[col])
X_test

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare
169,170,0,2,87,1,28,0,0,17,56.4958
556,557,1,0,38,0,48,1,0,12,39.6000
206,207,0,2,8,1,32,1,0,61,15.8500
71,72,0,2,51,0,16,5,2,134,46.9000
677,678,1,2,164,0,18,0,0,118,9.8417
839,840,1,0,90,1,30,0,0,13,29.7000
835,836,1,0,28,0,39,1,1,147,83.1583
261,262,1,2,5,1,3,4,2,79,31.3875
179,180,0,2,85,1,36,0,0,138,0.0000
282,283,0,2,178,1,16,0,0,74,9.5000
728,729,0,1,18,1,25,1,0,31,26.0000
369,370,1,0,7,0,24,0,0,141,69.3000
308,309,0,1,0,1,30,1,0,139,24.0000
529,530,0,1,62,1,23,2,1,56,11.5000
751,752,1,2,101,1,6,0,1,114,12.4750
812,813,0,1,152,1,35,0,0,54,10.5000
115,116,0,2,125,1,21,0,0,163,7.9250
223,224,0,2,109,1,30,0,0,87,7.8958
37,38,0,2,22,1,21,0,0,124,8.0500
334,335,1,0,44,0,30,1,0,146,133.6500
618,619,1,1,12,0,4,2,1,27,39.0000
849,850,1,0,48,0,30,1,0,19,89.1042
93,94,0,2,31,1,26,1,2,130,20.5750
877,878,0,2,128,1,19,0,0,83,7.8958
434,435,0,0,147,1,50,1,0,16,55.9000
398,399,0,1,120,1,23,0,0,37,10.5000
142,143,1,2,54,0,24,1,0,164,15.8500
437,438,1,1,132,0,24,2,3,57,18.7500
132,133,0,2,136,0,47,1,0,128,14.5000
552,553,0,2,113,1,30,0,0,69,7.8292
...,...,...,...,...,...,...,...,...,...,...
111,112,0,2,177,0,14,1,0,48,14.4542
236,237,0,1,63,1,44,1,0,50,26.0000
766,767,0,0,17,1,30,0,0,4,39.6000
333,334,0,2,167,1,16,2,0,72,18.0000
396,397,0,2,117,0,31,0,0,96,7.8542
215,216,1,0,110,0,31,1,0,97,113.2750
203,204,0,2,176,1,45,0,0,42,7.2250
358,359,1,2,95,0,30,0,0,68,7.8792
606,607,0,2,76,1,30,0,0,90,7.8958
226,227,1,1,98,1,19,0,0,165,10.5000
202,203,0,2,69,1,34,0,0,59,6.4958
335,336,0,2,32,1,30,0,0,86,7.8958
9,10,1,1,108,0,14,1,0,32,30.0708
103,104,0,2,70,1,33,0,0,122,8.6542
579,580,1,2,73,1,32,0,0,161,7.9250
530,531,1,1,129,0,2,1,1,43,26.0000
307,308,1,0,126,0,17,1,0,148,108.9000
411,412,0,2,59,1,30,0,0,115,6.8583
887,888,1,0,52,0,19,0,0,3,30.0000
550,551,1,0,159,1,17,0,2,18,110.8833
30,31,0,0,165,1,40,0,0,145,27.7208
360,361,0,2,150,1,40,1,4,80,27.9000
526,527,1,1,133,0,50,0,0,166,10.5000
386,387,0,2,50,1,1,5,2,134,46.9000
491,492,0,2,174,1,21,0,0,158,7.2500
6,7,0,0,93,1,54,0,0,20,51.8625
102,103,0,0,170,1,21,0,1,98,77.2875
772,773,0,1,88,0,57,0,0,151,10.5000
738,739,0,2,67,1,30,0,0,81,7.8958
654,655,0,2,60,0,18,0,0,102,6.7500

In [68]:
from sklearn.tree import DecisionTreeClassifier # importing decisiontreeclassifier from sklearn.tree to do classification

decision = DecisionTreeClassifier()

decision.fit(X_train,y_train)
predicted = decision.predict(X_test)
predicted

array(['C', 'S', 'S', 'C', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S',
       'S', 'Q', 'S', 'C', 'S', 'S', 'S', 'S', 'S', 'C', 'S', 'S', 'S',
       'C', 'S', 'S', 'S', 'C', 'C', 'S', 'S', 'C', 'Q', 'S', 'C', 'Q',
       'S', 'S', 'S', 'S', 'S', 'Q', 'S', 'S', 'C', 'S', 'C', 'S', 'S',
       'C', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S',
       'S', 'S', 'C', 'S', 'S', 'C', 'C', 'S', 'S', 'C', 'S', 'S', 'S',
       'S', 'S', 'C', 'S', 'C', 'S', 'C', 'S', 'S', 'S', 'S', 'S', 'S',
       'S', 'S', 'S', 'S', 'C', 'S', 'S', 'C', 'S', 'S', 'S', 'S', 'C',
       'S', 'C', 'C', 'S', 'S', 'C', 'C', 'S', 'C', 'S', 'S', 'C', 'S',
       'S', 'S', 'S', 'S', 'S', 'S', 'C', 'S', 'C', 'C', 'S', 'S', 'S',
       'S', 'C', 'S', 'S', 'S', 'Q', 'S', 'Q', 'S', 'S', 'S', 'S', 'C',
       'S', 'S', 'Q', 'S', 'C', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'C',
       'S', 'S', 'C', 'C', 'S', 'S', 'S', 'C', 'S', 'S', 'C', 'S', 'S',
       'S', 'S', 'C', 'S', 'C', 'S', 'C', 'C', 'S', 'C'], dtype=object)

In [75]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=60,random_state=42)
rf.fit(X_train,y_train)
pred=rf.predict(X_test)
pred

array(['S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'C', 'S', 'S', 'S', 'S',
       'S', 'S', 'S', 'C', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S',
       'C', 'S', 'S', 'S', 'S', 'C', 'S', 'S', 'S', 'S', 'S', 'C', 'S',
       'S', 'S', 'S', 'S', 'S', 'Q', 'S', 'S', 'S', 'S', 'S', 'S', 'S',
       'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S',
       'C', 'S', 'C', 'S', 'S', 'S', 'S', 'S', 'S', 'C', 'S', 'S', 'S',
       'S', 'S', 'C', 'S', 'C', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S',
       'S', 'S', 'S', 'S', 'C', 'S', 'S', 'C', 'S', 'S', 'S', 'S', 'C',
       'S', 'C', 'C', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S',
       'S', 'S', 'S', 'S', 'S', 'S', 'C', 'S', 'C', 'S', 'S', 'S', 'S',
       'S', 'Q', 'S', 'S', 'S', 'Q', 'S', 'Q', 'S', 'S', 'S', 'C', 'C',
       'S', 'S', 'Q', 'S', 'Q', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S',
       'Q', 'S', 'S', 'C', 'S', 'S', 'S', 'C', 'S', 'S', 'C', 'C', 'S',
       'S', 'S', 'S', 'S', 'C', 'S', 'S', 'S', 'S', 'C'], dtype=object)

In [82]:
from sklearn.metrics import confusion_matrix,balanced_accuracy_score,accuracy_score
confusion_matrix(y_test,pred)

array([[  3,   2,  32],
       [  3,   5,   9],
       [ 19,   0, 106]], dtype=int64)

In [83]:
balanced_accuracy_score(y_test,pred)

0.4077329093799682

In [84]:
accuracy_score(y_test,pred)

0.6368715083798883

In [85]:
import numpy as np
from sklearn.model_selection import RandomizedSearchCV
tuning={ 'n_estimators':np.arange(10,200,10),
          'max_depth':[5,6,7,8,9],
          'min_samples_leaf':[2,3,4,5,6],
          'min_samples_split':[6,7,8,9,10],
          'max_leaf_nodes':[2,3,4,5,6]}
         
rd = RandomizedSearchCV(estimator=rf,param_distributions=tuning,n_iter=15,cv=5,verbose=10,random_state=24)
rd.fit(X_train,y_train)
rd.best_params_

Fitting 5 folds for each of 15 candidates, totalling 75 fits
[CV] n_estimators=70, min_samples_split=8, min_samples_leaf=6, max_leaf_nodes=3, max_depth=5

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV]  n_estimators=70, min_samples_split=8, min_samples_leaf=6, max_leaf_nodes=3, max_depth=5, score=0.729, total=   0.7s
[CV] n_estimators=70, min_samples_split=8, min_samples_leaf=6, max_leaf_nodes=3, max_depth=5

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.6s remaining:    0.0s

[CV]  n_estimators=70, min_samples_split=8, min_samples_leaf=6, max_leaf_nodes=3, max_depth=5, score=0.746, total=   0.7s
[CV] n_estimators=70, min_samples_split=8, min_samples_leaf=6, max_leaf_nodes=3, max_depth=5

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    1.3s remaining:    0.0s

[CV]  n_estimators=70, min_samples_split=8, min_samples_leaf=6, max_leaf_nodes=3, max_depth=5, score=0.732, total=   0.5s
[CV] n_estimators=70, min_samples_split=8, min_samples_leaf=6, max_leaf_nodes=3, max_depth=5

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    1.8s remaining:    0.0s

[CV]  n_estimators=70, min_samples_split=8, min_samples_leaf=6, max_leaf_nodes=3, max_depth=5, score=0.732, total=   0.6s
[CV] n_estimators=70, min_samples_split=8, min_samples_leaf=6, max_leaf_nodes=3, max_depth=5

[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    2.5s remaining:    0.0s

[CV]  n_estimators=70, min_samples_split=8, min_samples_leaf=6, max_leaf_nodes=3, max_depth=5, score=0.746, total=   0.6s
[CV] n_estimators=50, min_samples_split=10, min_samples_leaf=6, max_leaf_nodes=4, max_depth=8

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    3.1s remaining:    0.0s

[CV]  n_estimators=50, min_samples_split=10, min_samples_leaf=6, max_leaf_nodes=4, max_depth=8, score=0.750, total=   0.3s
[CV] n_estimators=50, min_samples_split=10, min_samples_leaf=6, max_leaf_nodes=4, max_depth=8

[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    3.5s remaining:    0.0s

[CV]  n_estimators=50, min_samples_split=10, min_samples_leaf=6, max_leaf_nodes=4, max_depth=8, score=0.754, total=   0.4s
[CV] n_estimators=50, min_samples_split=10, min_samples_leaf=6, max_leaf_nodes=4, max_depth=8

[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    3.9s remaining:    0.0s

[CV]  n_estimators=50, min_samples_split=10, min_samples_leaf=6, max_leaf_nodes=4, max_depth=8, score=0.746, total=   0.4s
[CV] n_estimators=50, min_samples_split=10, min_samples_leaf=6, max_leaf_nodes=4, max_depth=8

[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:    4.3s remaining:    0.0s

[CV]  n_estimators=50, min_samples_split=10, min_samples_leaf=6, max_leaf_nodes=4, max_depth=8, score=0.754, total=   0.5s
[CV] n_estimators=50, min_samples_split=10, min_samples_leaf=6, max_leaf_nodes=4, max_depth=8

[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:    4.8s remaining:    0.0s

[CV]  n_estimators=50, min_samples_split=10, min_samples_leaf=6, max_leaf_nodes=4, max_depth=8, score=0.746, total=   0.3s
[CV] n_estimators=160, min_samples_split=8, min_samples_leaf=3, max_leaf_nodes=4, max_depth=6
[CV]  n_estimators=160, min_samples_split=8, min_samples_leaf=3, max_leaf_nodes=4, max_depth=6, score=0.757, total=   0.9s
[CV] n_estimators=160, min_samples_split=8, min_samples_leaf=3, max_leaf_nodes=4, max_depth=6
[CV]  n_estimators=160, min_samples_split=8, min_samples_leaf=3, max_leaf_nodes=4, max_depth=6, score=0.754, total=   0.7s
[CV] n_estimators=160, min_samples_split=8, min_samples_leaf=3, max_leaf_nodes=4, max_depth=6
[CV]  n_estimators=160, min_samples_split=8, min_samples_leaf=3, max_leaf_nodes=4, max_depth=6, score=0.761, total=   0.6s
[CV] n_estimators=160, min_samples_split=8, min_samples_leaf=3, max_leaf_nodes=4, max_depth=6
[CV]  n_estimators=160, min_samples_split=8, min_samples_leaf=3, max_leaf_nodes=4, max_depth=6, score=0.775, total=   0.5s
[CV] n_estimators=160, min_samples_split=8, min_samples_leaf=3, max_leaf_nodes=4, max_depth=6
[CV]  n_estimators=160, min_samples_split=8, min_samples_leaf=3, max_leaf_nodes=4, max_depth=6, score=0.754, total=   0.4s
[CV] n_estimators=120, min_samples_split=7, min_samples_leaf=6, max_leaf_nodes=3, max_depth=9
[CV]  n_estimators=120, min_samples_split=7, min_samples_leaf=6, max_leaf_nodes=3, max_depth=9, score=0.729, total=   0.9s
[CV] n_estimators=120, min_samples_split=7, min_samples_leaf=6, max_leaf_nodes=3, max_depth=9
[CV]  n_estimators=120, min_samples_split=7, min_samples_leaf=6, max_leaf_nodes=3, max_depth=9, score=0.746, total=   0.4s
[CV] n_estimators=120, min_samples_split=7, min_samples_leaf=6, max_leaf_nodes=3, max_depth=9
[CV]  n_estimators=120, min_samples_split=7, min_samples_leaf=6, max_leaf_nodes=3, max_depth=9, score=0.732, total=   0.3s
[CV] n_estimators=120, min_samples_split=7, min_samples_leaf=6, max_leaf_nodes=3, max_depth=9
[CV]  n_estimators=120, min_samples_split=7, min_samples_leaf=6, max_leaf_nodes=3, max_depth=9, score=0.732, total=   0.3s
[CV] n_estimators=120, min_samples_split=7, min_samples_leaf=6, max_leaf_nodes=3, max_depth=9
[CV]  n_estimators=120, min_samples_split=7, min_samples_leaf=6, max_leaf_nodes=3, max_depth=9, score=0.746, total=   0.8s
[CV] n_estimators=60, min_samples_split=7, min_samples_leaf=2, max_leaf_nodes=3, max_depth=7
[CV]  n_estimators=60, min_samples_split=7, min_samples_leaf=2, max_leaf_nodes=3, max_depth=7, score=0.729, total=   0.3s
[CV] n_estimators=60, min_samples_split=7, min_samples_leaf=2, max_leaf_nodes=3, max_depth=7
[CV]  n_estimators=60, min_samples_split=7, min_samples_leaf=2, max_leaf_nodes=3, max_depth=7, score=0.746, total=   0.4s
[CV] n_estimators=60, min_samples_split=7, min_samples_leaf=2, max_leaf_nodes=3, max_depth=7
[CV]  n_estimators=60, min_samples_split=7, min_samples_leaf=2, max_leaf_nodes=3, max_depth=7, score=0.732, total=   0.1s
[CV] n_estimators=60, min_samples_split=7, min_samples_leaf=2, max_leaf_nodes=3, max_depth=7
[CV]  n_estimators=60, min_samples_split=7, min_samples_leaf=2, max_leaf_nodes=3, max_depth=7, score=0.732, total=   0.2s
[CV] n_estimators=60, min_samples_split=7, min_samples_leaf=2, max_leaf_nodes=3, max_depth=7
[CV]  n_estimators=60, min_samples_split=7, min_samples_leaf=2, max_leaf_nodes=3, max_depth=7, score=0.739, total=   0.1s
[CV] n_estimators=30, min_samples_split=8, min_samples_leaf=5, max_leaf_nodes=5, max_depth=7
[CV]  n_estimators=30, min_samples_split=8, min_samples_leaf=5, max_leaf_nodes=5, max_depth=7, score=0.771, total=   0.2s
[CV] n_estimators=30, min_samples_split=8, min_samples_leaf=5, max_leaf_nodes=5, max_depth=7
[CV]  n_estimators=30, min_samples_split=8, min_samples_leaf=5, max_leaf_nodes=5, max_depth=7, score=0.761, total=   0.2s
[CV] n_estimators=30, min_samples_split=8, min_samples_leaf=5, max_leaf_nodes=5, max_depth=7
[CV]  n_estimators=30, min_samples_split=8, min_samples_leaf=5, max_leaf_nodes=5, max_depth=7, score=0.782, total=   0.2s
[CV] n_estimators=30, min_samples_split=8, min_samples_leaf=5, max_leaf_nodes=5, max_depth=7
[CV]  n_estimators=30, min_samples_split=8, min_samples_leaf=5, max_leaf_nodes=5, max_depth=7, score=0.782, total=   0.2s
[CV] n_estimators=30, min_samples_split=8, min_samples_leaf=5, max_leaf_nodes=5, max_depth=7
[CV]  n_estimators=30, min_samples_split=8, min_samples_leaf=5, max_leaf_nodes=5, max_depth=7, score=0.754, total=   0.2s
[CV] n_estimators=40, min_samples_split=9, min_samples_leaf=4, max_leaf_nodes=2, max_depth=8
[CV]  n_estimators=40, min_samples_split=9, min_samples_leaf=4, max_leaf_nodes=2, max_depth=8, score=0.729, total=   0.1s
[CV] n_estimators=40, min_samples_split=9, min_samples_leaf=4, max_leaf_nodes=2, max_depth=8
[CV]  n_estimators=40, min_samples_split=9, min_samples_leaf=4, max_leaf_nodes=2, max_depth=8, score=0.732, total=   0.1s
[CV] n_estimators=40, min_samples_split=9, min_samples_leaf=4, max_leaf_nodes=2, max_depth=8
[CV]  n_estimators=40, min_samples_split=9, min_samples_leaf=4, max_leaf_nodes=2, max_depth=8, score=0.732, total=   0.1s
[CV] n_estimators=40, min_samples_split=9, min_samples_leaf=4, max_leaf_nodes=2, max_depth=8
[CV]  n_estimators=40, min_samples_split=9, min_samples_leaf=4, max_leaf_nodes=2, max_depth=8, score=0.732, total=   0.1s
[CV] n_estimators=40, min_samples_split=9, min_samples_leaf=4, max_leaf_nodes=2, max_depth=8
[CV]  n_estimators=40, min_samples_split=9, min_samples_leaf=4, max_leaf_nodes=2, max_depth=8, score=0.732, total=   0.1s
[CV] n_estimators=140, min_samples_split=9, min_samples_leaf=3, max_leaf_nodes=5, max_depth=9
[CV]  n_estimators=140, min_samples_split=9, min_samples_leaf=3, max_leaf_nodes=5, max_depth=9, score=0.778, total=   0.3s
[CV] n_estimators=140, min_samples_split=9, min_samples_leaf=3, max_leaf_nodes=5, max_depth=9
[CV]  n_estimators=140, min_samples_split=9, min_samples_leaf=3, max_leaf_nodes=5, max_depth=9, score=0.754, total=   0.7s
[CV] n_estimators=140, min_samples_split=9, min_samples_leaf=3, max_leaf_nodes=5, max_depth=9
[CV]  n_estimators=140, min_samples_split=9, min_samples_leaf=3, max_leaf_nodes=5, max_depth=9, score=0.782, total=   0.5s
[CV] n_estimators=140, min_samples_split=9, min_samples_leaf=3, max_leaf_nodes=5, max_depth=9
[CV]  n_estimators=140, min_samples_split=9, min_samples_leaf=3, max_leaf_nodes=5, max_depth=9, score=0.789, total=   0.6s
[CV] n_estimators=140, min_samples_split=9, min_samples_leaf=3, max_leaf_nodes=5, max_depth=9
[CV]  n_estimators=140, min_samples_split=9, min_samples_leaf=3, max_leaf_nodes=5, max_depth=9, score=0.754, total=   1.5s
[CV] n_estimators=20, min_samples_split=9, min_samples_leaf=6, max_leaf_nodes=2, max_depth=8
[CV]  n_estimators=20, min_samples_split=9, min_samples_leaf=6, max_leaf_nodes=2, max_depth=8, score=0.729, total=   0.2s
[CV] n_estimators=20, min_samples_split=9, min_samples_leaf=6, max_leaf_nodes=2, max_depth=8
[CV]  n_estimators=20, min_samples_split=9, min_samples_leaf=6, max_leaf_nodes=2, max_depth=8, score=0.732, total=   0.2s
[CV] n_estimators=20, min_samples_split=9, min_samples_leaf=6, max_leaf_nodes=2, max_depth=8
[CV]  n_estimators=20, min_samples_split=9, min_samples_leaf=6, max_leaf_nodes=2, max_depth=8, score=0.732, total=   0.1s
[CV] n_estimators=20, min_samples_split=9, min_samples_leaf=6, max_leaf_nodes=2, max_depth=8
[CV]  n_estimators=20, min_samples_split=9, min_samples_leaf=6, max_leaf_nodes=2, max_depth=8, score=0.732, total=   0.1s
[CV] n_estimators=20, min_samples_split=9, min_samples_leaf=6, max_leaf_nodes=2, max_depth=8
[CV]  n_estimators=20, min_samples_split=9, min_samples_leaf=6, max_leaf_nodes=2, max_depth=8, score=0.732, total=   0.1s
[CV] n_estimators=120, min_samples_split=9, min_samples_leaf=3, max_leaf_nodes=5, max_depth=6
[CV]  n_estimators=120, min_samples_split=9, min_samples_leaf=3, max_leaf_nodes=5, max_depth=6, score=0.778, total=   0.4s
[CV] n_estimators=120, min_samples_split=9, min_samples_leaf=3, max_leaf_nodes=5, max_depth=6
[CV]  n_estimators=120, min_samples_split=9, min_samples_leaf=3, max_leaf_nodes=5, max_depth=6, score=0.754, total=   0.5s
[CV] n_estimators=120, min_samples_split=9, min_samples_leaf=3, max_leaf_nodes=5, max_depth=6

[CV]  n_estimators=120, min_samples_split=9, min_samples_leaf=3, max_leaf_nodes=5, max_depth=6, score=0.775, total=   0.4s
[CV] n_estimators=120, min_samples_split=9, min_samples_leaf=3, max_leaf_nodes=5, max_depth=6
[CV]  n_estimators=120, min_samples_split=9, min_samples_leaf=3, max_leaf_nodes=5, max_depth=6, score=0.789, total=   0.5s
[CV] n_estimators=120, min_samples_split=9, min_samples_leaf=3, max_leaf_nodes=5, max_depth=6
[CV]  n_estimators=120, min_samples_split=9, min_samples_leaf=3, max_leaf_nodes=5, max_depth=6, score=0.754, total=   0.7s
[CV] n_estimators=180, min_samples_split=10, min_samples_leaf=5, max_leaf_nodes=3, max_depth=7
[CV]  n_estimators=180, min_samples_split=10, min_samples_leaf=5, max_leaf_nodes=3, max_depth=7, score=0.736, total=   0.7s
[CV] n_estimators=180, min_samples_split=10, min_samples_leaf=5, max_leaf_nodes=3, max_depth=7
[CV]  n_estimators=180, min_samples_split=10, min_samples_leaf=5, max_leaf_nodes=3, max_depth=7, score=0.754, total=   0.5s
[CV] n_estimators=180, min_samples_split=10, min_samples_leaf=5, max_leaf_nodes=3, max_depth=7
[CV]  n_estimators=180, min_samples_split=10, min_samples_leaf=5, max_leaf_nodes=3, max_depth=7, score=0.732, total=   0.3s
[CV] n_estimators=180, min_samples_split=10, min_samples_leaf=5, max_leaf_nodes=3, max_depth=7
[CV]  n_estimators=180, min_samples_split=10, min_samples_leaf=5, max_leaf_nodes=3, max_depth=7, score=0.732, total=   0.7s
[CV] n_estimators=180, min_samples_split=10, min_samples_leaf=5, max_leaf_nodes=3, max_depth=7
[CV]  n_estimators=180, min_samples_split=10, min_samples_leaf=5, max_leaf_nodes=3, max_depth=7, score=0.746, total=   0.3s
[CV] n_estimators=80, min_samples_split=6, min_samples_leaf=2, max_leaf_nodes=6, max_depth=5
[CV]  n_estimators=80, min_samples_split=6, min_samples_leaf=2, max_leaf_nodes=6, max_depth=5, score=0.778, total=   0.3s
[CV] n_estimators=80, min_samples_split=6, min_samples_leaf=2, max_leaf_nodes=6, max_depth=5
[CV]  n_estimators=80, min_samples_split=6, min_samples_leaf=2, max_leaf_nodes=6, max_depth=5, score=0.754, total=   0.9s
[CV] n_estimators=80, min_samples_split=6, min_samples_leaf=2, max_leaf_nodes=6, max_depth=5
[CV]  n_estimators=80, min_samples_split=6, min_samples_leaf=2, max_leaf_nodes=6, max_depth=5, score=0.775, total=   0.8s
[CV] n_estimators=80, min_samples_split=6, min_samples_leaf=2, max_leaf_nodes=6, max_depth=5
[CV]  n_estimators=80, min_samples_split=6, min_samples_leaf=2, max_leaf_nodes=6, max_depth=5, score=0.789, total=   0.2s
[CV] n_estimators=80, min_samples_split=6, min_samples_leaf=2, max_leaf_nodes=6, max_depth=5
[CV]  n_estimators=80, min_samples_split=6, min_samples_leaf=2, max_leaf_nodes=6, max_depth=5, score=0.782, total=   0.2s
[CV] n_estimators=190, min_samples_split=8, min_samples_leaf=6, max_leaf_nodes=3, max_depth=5
[CV]  n_estimators=190, min_samples_split=8, min_samples_leaf=6, max_leaf_nodes=3, max_depth=5, score=0.736, total=   1.1s
[CV] n_estimators=190, min_samples_split=8, min_samples_leaf=6, max_leaf_nodes=3, max_depth=5
[CV]  n_estimators=190, min_samples_split=8, min_samples_leaf=6, max_leaf_nodes=3, max_depth=5, score=0.754, total=   0.7s
[CV] n_estimators=190, min_samples_split=8, min_samples_leaf=6, max_leaf_nodes=3, max_depth=5
[CV]  n_estimators=190, min_samples_split=8, min_samples_leaf=6, max_leaf_nodes=3, max_depth=5, score=0.732, total=   0.3s
[CV] n_estimators=190, min_samples_split=8, min_samples_leaf=6, max_leaf_nodes=3, max_depth=5
[CV]  n_estimators=190, min_samples_split=8, min_samples_leaf=6, max_leaf_nodes=3, max_depth=5, score=0.746, total=   0.5s
[CV] n_estimators=190, min_samples_split=8, min_samples_leaf=6, max_leaf_nodes=3, max_depth=5
[CV]  n_estimators=190, min_samples_split=8, min_samples_leaf=6, max_leaf_nodes=3, max_depth=5, score=0.746, total=   0.6s
[CV] n_estimators=110, min_samples_split=6, min_samples_leaf=4, max_leaf_nodes=5, max_depth=7
[CV]  n_estimators=110, min_samples_split=6, min_samples_leaf=4, max_leaf_nodes=5, max_depth=7, score=0.771, total=   0.2s
[CV] n_estimators=110, min_samples_split=6, min_samples_leaf=4, max_leaf_nodes=5, max_depth=7
[CV]  n_estimators=110, min_samples_split=6, min_samples_leaf=4, max_leaf_nodes=5, max_depth=7, score=0.754, total=   0.2s
[CV] n_estimators=110, min_samples_split=6, min_samples_leaf=4, max_leaf_nodes=5, max_depth=7
[CV]  n_estimators=110, min_samples_split=6, min_samples_leaf=4, max_leaf_nodes=5, max_depth=7, score=0.775, total=   0.2s
[CV] n_estimators=110, min_samples_split=6, min_samples_leaf=4, max_leaf_nodes=5, max_depth=7
[CV]  n_estimators=110, min_samples_split=6, min_samples_leaf=4, max_leaf_nodes=5, max_depth=7, score=0.775, total=   0.6s
[CV] n_estimators=110, min_samples_split=6, min_samples_leaf=4, max_leaf_nodes=5, max_depth=7
[CV]  n_estimators=110, min_samples_split=6, min_samples_leaf=4, max_leaf_nodes=5, max_depth=7, score=0.754, total=   0.4s
[CV] n_estimators=10, min_samples_split=10, min_samples_leaf=2, max_leaf_nodes=4, max_depth=6
[CV]  n_estimators=10, min_samples_split=10, min_samples_leaf=2, max_leaf_nodes=4, max_depth=6, score=0.736, total=   0.0s
[CV] n_estimators=10, min_samples_split=10, min_samples_leaf=2, max_leaf_nodes=4, max_depth=6
[CV]  n_estimators=10, min_samples_split=10, min_samples_leaf=2, max_leaf_nodes=4, max_depth=6, score=0.732, total=   0.0s
[CV] n_estimators=10, min_samples_split=10, min_samples_leaf=2, max_leaf_nodes=4, max_depth=6
[CV]  n_estimators=10, min_samples_split=10, min_samples_leaf=2, max_leaf_nodes=4, max_depth=6, score=0.754, total=   0.0s
[CV] n_estimators=10, min_samples_split=10, min_samples_leaf=2, max_leaf_nodes=4, max_depth=6
[CV]  n_estimators=10, min_samples_split=10, min_samples_leaf=2, max_leaf_nodes=4, max_depth=6, score=0.732, total=   0.0s
[CV] n_estimators=10, min_samples_split=10, min_samples_leaf=2, max_leaf_nodes=4, max_depth=6
[CV]  n_estimators=10, min_samples_split=10, min_samples_leaf=2, max_leaf_nodes=4, max_depth=6, score=0.739, total=   0.0s

[Parallel(n_jobs=1)]: Done  75 out of  75 | elapsed:   30.6s finished

{'n_estimators': 80,
 'min_samples_split': 6,
 'min_samples_leaf': 2,
 'max_leaf_nodes': 6,
 'max_depth': 5}

In [107]:
from sklearn.model_selection import GridSearchCV
dictionary = {'n_estimators':np.arange(75,80,85),
              'max_depth':[2,4,6,7],
              'min_samples_split':[2,5,7,6],
              'min_samples_leaf':[2,4,5,6,7]
             
             }
grid = GridSearchCV(estimator=rf,param_grid=dictionary,cv=5)
grid.fit(X_train,y_train)
#grid.best_params_
grid.best_score_

0.8778089887640449

In [108]:
from sklearn.ensemble import RandomForestClassifier
rf1 = RandomForestClassifier(n_estimators=75,max_depth = 7,min_samples_leaf = 2,min_samples_split = 2,random_state=48)
rf1.fit(X_train,y_train)
pred1=rf.predict(X_test)
pred1

array(['S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'C', 'S', 'S', 'S', 'S',
       'S', 'S', 'S', 'C', 'S', 'S', 'C', 'S', 'S', 'S', 'S', 'S', 'S',
       'C', 'S', 'S', 'S', 'S', 'C', 'S', 'S', 'S', 'S', 'S', 'C', 'Q',
       'S', 'S', 'S', 'S', 'S', 'Q', 'S', 'S', 'S', 'S', 'S', 'S', 'S',
       'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S',
       'C', 'S', 'C', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S',
       'S', 'S', 'C', 'S', 'C', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S',
       'S', 'S', 'S', 'C', 'C', 'S', 'S', 'C', 'S', 'S', 'S', 'S', 'C',
       'S', 'C', 'C', 'S', 'S', 'S', 'C', 'S', 'S', 'S', 'S', 'S', 'S',
       'S', 'S', 'S', 'S', 'S', 'S', 'C', 'S', 'C', 'S', 'S', 'S', 'S',
       'S', 'Q', 'S', 'S', 'S', 'Q', 'S', 'Q', 'S', 'S', 'S', 'C', 'C',
       'S', 'S', 'Q', 'S', 'C', 'S', 'S', 'S', 'S', 'S', 'S', 'C', 'S',
       'Q', 'S', 'S', 'C', 'S', 'S', 'S', 'C', 'S', 'C', 'C', 'S', 'S',
       'S', 'S', 'S', 'S', 'C', 'S', 'S', 'S', 'S', 'C'], dtype=object)

In [109]:
from sklearn.metrics import confusion_matrix,balanced_accuracy_score,accuracy_score
confusion_matrix(y_test,pred1)

array([[  6,   1,  30],
       [  4,   6,   7],
       [ 19,   0, 106]], dtype=int64)

In [110]:
balanced_accuracy_score(y_test,pred1)

0.45436777954425017

In [111]:
accuracy_score(y_test,pred1)

0.659217877094972